body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-color: #aed0d4;
    flex-wrap: nowrap;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.temp-select {
    height: 1.5em;
    margin-left: 0.5em;
    margin: 0;
    padding: 0;
}
.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 1em;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    align-self: center;
    margin-bottom: 5px;
    border: 2px solid black;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#forecast-container {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 1em;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}
#weather-form {
    margin-bottom: 2px;
    margin-top: 0;
}
#weather-container {
    display: flex;
     width: 100%;
    max-width: 900px;
    flex-direction: column;
    font-weight: bold;
    margin: 10px;
}
header {
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    width:50vw;
    max-width: 400px;
    align-self: center;
    border-radius: 1em;
    opacity: 30;
    border: 2px solid black;
    padding: 0;
}
.form-label {
    font-weight: bold;
}
#getWeatherButton {
    margin-bottom: 5px;
    background-color: lightgrey;
}
p {
  margin: 10px;
}
.now-div {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.weatherTitle {
   margin: 0;
}
.error-message {
color: red;
font-weight: bold;
}
#city {
    border: 2px solid black;
    margin: 3px;
    font-size: 1.5em;
    width: 95%;
}

